@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;


}
body{
    background-image: url(https://img.freepik.com/free-vector/background-white-design-gradient-vector-modern-abstract_343694-2366.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    max-width: 80vw;
    font-family: "Poppins", sans-serif;
  
}

.navbar{
    display: flex;
    height: 67px;
   
   

}
.anchor{
    text-decoration: none;
    color: red;
}
.anchor:hover{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 30%;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
    

}

.topleft{
    width: 50%;
}

.topright{ 
    width: 50%;
}

.section1{
   max-height: 100vh; 
   color: #711e15;
}

.section1 h1{
    color: #37110d;
    font-size: 2rem;
}

.logo{
    font-size: 1.3rem;
}

.dumbellimg{
    width: 289px;
}

.topright .gymimg{
    width: 466px;
}

.section2{
    padding: 73px;
}

.section2 h1{
    font-size: 2.3rem;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(120, 54, 16);
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
}

.box ul li{
   margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid black;
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 2px solid black; 
} 
 

.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 73px;
}

footer{
    padding: 23px;
    text-align: center;
}
.buttons{

    margin-left: 50%;
    transform: translateX(-11%);
  
}


.containers {
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin-left: 35%;



}

.header {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.load-amount-info, .interest-rate-info, .months-to-pay-info {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

button {
    width: 120px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.result {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#emi {
    color: red;
}